:root {
    --primary-color: #163756;
    --secondary-color: #A77E65;
    --accent1-color: #78CDD7;
    --accent2-color: #FFFFFF;
    --heading-font: "ITC Benguiat Std", serif;
    --body-font: "Syne", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-size: x-large;

}

header img {
    flex-direction: center;
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: xx-large;
    padding-top: 20px;
    text-align: center;
}


.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.hero article {
    position: absolute;
    top: 80px;
    right: 90px;
    width: 50%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);

}

.history {
    padding: 10px;
}



.history section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    text-align: center;
}

.history img {
    width: 200px;
    border-radius: 2px;
    padding: 5px;
    background-color: var(--secondary-color);
    place-self: center;
}

.gallery {
    text-align: center;
    padding: 2rem 0;
}

.gallery section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-items: center;
    text-align: center;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.gallery-item p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
}



footer .socialmedia a {
    display: flex;
    gap: 1rem
}