:root {
    --padding: 1rem;
    --color: #6a0dad;
    --border: 1px solid #000;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: var(--color);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: var(--border);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #8a2be2;
}

h1 {
    color: var(--color);
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: right;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: var(--padding);
}

h2 {
    color: var(--color);
    padding: var(--padding);
    text-align: left;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
    padding: 5px;
}

aside p {
    text-align: center
}



footer {
    margin-top: 2rem;
    border-top: var(--border);
    text-align: center;
    padding: var(--padding);
    background-color: #eee;
    font-size: 0.9rem;
}